<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Row</th>
            <th scope="col">Time</th>
            <th scope="col">Gas Concentration</th>
            <th scope="col">Temperature</th>
            <th scope="col">Humidity</th>
        </tr>
    </thead>
    <tbody>
        {{#each result as |result|}}
        <tr>
            <th scope="row">1</th>
            <td>20</td>
            <td>50</td>
            <td>45</td>
            <td>34</td>
        </tr>
        {{/each}}
    </tbody>
</table>